name: test-googlebatch-mocked-api

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install Dependencies using Poetry
        run: poetry install

      - name: Check formatting
        run: poetry run black --check .

  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install Dependencies using Poetry
        run: poetry install

      - name: Check code
        run: poetry run flake8

  testing-mocked-api:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install dependencies
        run: poetry install

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
  
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'
  
      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Setup minio
        uses: comfuture/minio-action@v1
        with:
          access_key: minio
          secret_key: minio123
          port: 9000

      - name: Install MinIO Client CLI
        run: |
          curl -O https://dl.min.io/client/mc/release/linux-amd64/mc
          chmod +x mc
          sudo mv mc /usr/local/bin/

      - name: Configure MinIO client
        run: |
          mc alias set minio http://localhost:9000 minio minio123

      - name: Run pytest
        run: |
          poetry run coverage run -m pytest tests/tests_mocked_api.py -v

      - name: Run Coverage
        run: poetry run coverage report -m
