name: test-googlebatch-mocked-api

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  testing-mocked-api:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv based on the version defined in pyproject.toml
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Setup minio
        uses: comfuture/minio-action@v1
        with:
          access_key: minio
          secret_key: minio123
          port: 9000

      - name: Run pytest
        run: |
          uv run coverage run -m pytest tests/ -v

      - name: Run Coverage
        run: uv run coverage report -m
