name: test-googlebatch

on:
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install Dependencies using Poetry
        run: poetry install

      - name: Check formatting
        run: poetry run black --check .

  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install Dependencies using Poetry
        run: poetry install

      - name: Check code
        run: poetry run flake8

  testing-mocked-api:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install poetry
        run: pip install poetry

      - name: Determine dependencies
        run: poetry lock

      - name: Install dependencies
        run: poetry install


      - name: Setup Gcloud
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@v0.2.1
        if: env.GCP_AVAILABLE
        with:
          project_id: snakemake-testing
          service_account_email: "${{ secrets.GCP_SA_EMAIL }}"
          service_account_key: "${{ secrets.GCP_SA_KEY }}"
          export_default_credentials: true

      # - id: 'auth'
      #   uses: 'google-github-actions/auth@v1'
      #   with:
      #     credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # - name: 'Set up GCloud SDK'
      #   uses: 'google-github-actions/setup-gcloud@v1'

      - name: Run pytest
        run: |
          poetry run coverage run -m pytest tests/tests_mocked_api.py -v

      - name: Run Coverage
        run: poetry run coverage report -m
