name: Run pre-commit

on:
  pull_request:
    branches:
      - main

jobs:
  pre-commit-checks:
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: -v --all-files
